node-red/node-red-flow.json
[
    {
        "id": "22d480b0825fdd6a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "630b5dd6a7e646e1",
        "type": "function",
        "z": "22d480b0825fdd6a",
        "name": "function 2",
        "func": "// accept ONLY valid serial strings\nif (typeof msg.payload !== \"string\") return null;\n\nlet text = msg.payload.trim();\nif (text === \"\") return null;\n\n// Example expected text:\n// \"Humidity: 58.3% Temperature: 24.1°C Heat index: 25.0°C\"\n\nlet humidityMatch = text.match(/Humidity:\\s*([\\d.]+)%/);\nlet temperatureMatch = text.match(/Temperature:\\s*([\\d.]+)°C/);\nlet heatIndexMatch = text.match(/Heat index:\\s*([\\d.]+)°C/);\n\n// If any value is missing, ignore message\nif (!humidityMatch || !temperatureMatch || !heatIndexMatch) {\n    return null;\n}\n\nmsg.payload = {\n    humidity: Number(humidityMatch[1]),\n    temperature: Number(temperatureMatch[1]),\n    heatindex: Number(heatIndexMatch[1])\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 240,
        "wires": [["8d2e72ce8af4b913"]]
    },
    {
        "id": "657cd53b73f6e374",
        "type": "function",
        "z": "22d480b0825fdd6a",
        "name": "function 1",
        "func": "msg.topic = \"Humidity\";\nmsg.payload = Number(msg.payload.humidity);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [["70830f433207389a"]]
    },
    {
        "id": "30404297955c6989",
        "type": "function",
        "z": "22d480b0825fdd6a",
        "name": "function 3",
        "func": "msg.topic = \"Temperature\";\nmsg.payload = Number(msg.payload.temperature);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [["ed1c566e6785a4a9"]]
    },
    {
        "id": "5871ab4b38f7708b",
        "type": "function",
        "z": "22d480b0825fdd6a",
        "name": "function 4",
        "func": "msg.topic = \"Heat Index\";\nmsg.payload = Number(msg.payload.heatindex);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [["aedc8badeac80432"]]
    },
    {
        "id": "d6c312b9295fb2f1",
        "type": "serial in",
        "z": "22d480b0825fdd6a",
        "name": "instert",
        "serial": "18c96eb91310eecf",
        "x": 70,
        "y": 240,
        "wires": [["630b5dd6a7e646e1"]]
    },
    {
        "id": "70830f433207389a",
        "type": "ui_chart",
        "z": "22d480b0825fdd6a",
        "name": "Time vs Humidity",
        "group": "b2949bf0.54497",
        "order": 2,
        "width": "5",
        "height": "5",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "x": 800,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "ed1c566e6785a4a9",
        "type": "ui_chart",
        "z": "22d480b0825fdd6a",
        "name": "Time vs Temperature",
        "group": "2a6d74df.c32a4c",
        "order": 2,
        "width": "5",
        "height": "5",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "x": 820,
        "y": 220,
        "wires": [[]]
    },
    {
        "id": "aedc8badeac80432",
        "type": "ui_chart",
        "z": "22d480b0825fdd6a",
        "name": "Time vs Heat Index",
        "group": "1ef33f0c.f64569",
        "order": 2,
        "width": "5",
        "height": "5",
        "label": "Heat Index",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "x": 810,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "854a5fc709162f3d",
        "type": "inject",
        "z": "22d480b0825fdd6a",
        "name": "create measurements table",
        "props": [{"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS measurements ( id INTEGER PRIMARY KEY AUTOINCREMENT, timestamp TEXT, temperature REAL, humidity REAL, heatindex REAL );",
        "x": 240,
        "y": 400,
        "wires": [["265b0122a30e1edc"]]
    },
    {
        "id": "265b0122a30e1edc",
        "type": "sqlite",
        "z": "22d480b0825fdd6a",
        "mydb": "7d2a87a5f77e5173",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "dht22.db",
        "x": 800,
        "y": 500,
        "wires": [["64f16117abffe083", "ee655d97667d3813"]]
    },
    {
        "id": "8d2e72ce8af4b913",
        "type": "change",
        "z": "22d480b0825fdd6a",
        "name": "set flow.last",
        "rules": [{"t": "set", "p": "last", "pt": "flow", "to": "payload", "tot": "msg"}],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240,
        "wires": [["657cd53b73f6e374", "30404297955c6989", "5871ab4b38f7708b"]]
    },
    {
        "id": "582ac857ba23e527",
        "type": "inject",
        "z": "22d480b0825fdd6a",
        "name": "save every minute",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 480,
        "wires": [["b3aa840949d336a9"]]
    },
    {
        "id": "b3aa840949d336a9",
        "type": "function",
        "z": "22d480b0825fdd6a",
        "name": "insert measurements (1/min)",
        "func": "const last = flow.get(\"last\");\nif (!last) {\n node.warn(\"NO flow.last\");\n return null;\n}\nconst t = Number(last.temperature);\nconst h = Number(last.humidity);\nconst hi = Number(last.heatindex);\nif ([t, h, hi].some(v => Number.isNaN(v))) {\n node.warn(\"NaN values in flow.last\");\n return null;\n}\nmsg.topic = \"INSERT INTO measurements(timestamp, temperature, humidity, heatindex) VALUES(datetime('now'), \" + t + \", \" + h + \", \" + hi + \");\";\nreturn msg;",
        "outputs": 1,
        "x": 490,
        "y": 480,
        "wires": [["265b0122a30e1edc"]]
    },
    {
        "id": "77ccc30f90f44b9e",
        "type": "inject",
        "z": "22d480b0825fdd6a",
        "name": "create hourly_averages table",
        "props": [{"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS hourly_averages ( hour_start TEXT PRIMARY KEY, avg_temperature REAL, avg_humidity REAL, avg_heatindex REAL );",
        "x": 280,
        "y": 560,
        "wires": [["265b0122a30e1edc"]]
    },
    {
        "id": "2d4efc52210b3c7a",
        "type": "inject",
        "z": "22d480b0825fdd6a",
        "name": "compute hourly avg (top of hour)",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "0 * * * *",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 660,
        "wires": [["2caf9891567ed422"]]
    },
    {
        "id": "2caf9891567ed422",
        "type": "function",
        "z": "22d480b0825fdd6a",
        "name": "insert hourly averages (prev hour)",
        "func": "msg.topic = `INSERT OR REPLACE INTO hourly_averages (hour_start, avg_temperature, avg_humidity, avg_heatindex) SELECT strftime('%Y-%m-%d %H:00:00', 'now', '-1 hour') AS hour_start, AVG(temperature), AVG(humidity), AVG(heatindex) FROM measurements WHERE timestamp >= strftime('%Y-%m-%d %H:00:00', 'now', '-1 hour') AND timestamp < strftime('%Y-%m-%d %H:00:00', 'now') HAVING COUNT(*) > 0;`;\nreturn msg;",
        "outputs": 1,
        "x": 500,
        "y": 660,
        "wires": [["265b0122a30e1edc", "7908836fbed5bea3"]]
    },
    {
        "id": "7908836fbed5bea3",
        "type": "debug",
        "z": "22d480b0825fdd6a",
        "name": "debug hourly insert",
        "active": true,
        "tosidebar": true,
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "41e576062ce5d734",
        "type": "inject",
        "z": "22d480b0825fdd6a",
        "name": "fetch hourly avgs (top of hour)",
        "props": [{"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "1 * * * *",
        "once": true,
        "onceDelay": 12,
        "topic": "SELECT hour_start, avg_temperature, avg_humidity, avg_heatindex FROM hourly_averages ORDER BY hour_start DESC LIMIT 24;",
        "x": 240,
        "y": 760,
        "wires": [["265b0122a30e1edc"]]
    },
    {
        "id": "ee655d97667d3813",
        "type": "function",
        "z": "22d480b0825fdd6a",
        "name": "format hourly UI (latest + 24h table)",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nlet latest = rows[0];\nlet latestText = \"No hourly averages yet.\";\nif (latest) {\n latestText = `Last hourly average (${latest.hour_start}): Temp=${Number(latest.avg_temperature).toFixed(2)}°C, Hum=${Number(latest.avg_humidity).toFixed(2)}%, HI=${Number(latest.avg_heatindex).toFixed(2)}°C`;\n}\nlet html = `<div style=\"font-size:14px;\"><table style=\"width:100%; border-collapse:collapse;\"><thead><tr><th>Hour</th><th>Temp</th><th>Hum</th><th>HI</th></tr></thead><tbody>`;\nfor (const r of rows) {\n html += `<tr><td>${r.hour_start}</td><td>${Number(r.avg_temperature).toFixed(2)}</td><td>${Number(r.avg_humidity).toFixed(2)}</td><td>${Number(r.avg_heatindex).toFixed(2)}</td></tr>`;\n}\nhtml += `</tbody></table></div>`;\nreturn [{ payload: latestText }, { payload: html }];",
        "outputs": 2,
        "x": 560,
        "y": 760,
        "wires": [["23f8777818d9f65c"], ["ffd3e5fa48bea412"]]
    },
    {
        "id": "23f8777818d9f65c",
        "type": "ui_text",
        "z": "22d480b0825fdd6a",
        "group": "d0ab49f1d41f6fc3",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Hourly Avg (Latest)",
        "label": "Hourly Average (Latest)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "ffd3e5fa48bea412",
        "type": "ui_template",
        "z": "22d480b0825fdd6a",
        "group": "d0ab49f1d41f6fc3",
        "name": "Hourly Avg Table (Last 24h)",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 880,
        "y": 800,
        "wires": [[]]
    },
    {
        "id": "64f16117abffe083",
        "type": "debug",
        "z": "22d480b0825fdd6a",
        "name": "debug sqlite",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "82a2befcb9e00f69",
        "type": "inject",
        "z": "22d480b0825fdd6a",
        "name": "manual check hourly_averages",
        "props": [{"p": "topic", "vt": "str"}],
        "topic": "SELECT hour_start, avg_temperature, avg_humidity, avg_heatindex FROM hourly_averages ORDER BY hour_start DESC LIMIT 5;",
        "x": 280,
        "y": 840,
        "wires": [["265b0122a30e1edc"]]
    },
    {
        "id": "182fa0d5be73f6e7",
        "type": "inject",
        "z": "22d480b0825fdd6a",
        "name": "sensor",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "once": true,
        "onceDelay": "10",
        "x": 120,
        "y": 80,
        "wires": [["630b5dd6a7e646e1"]]
    },
    {
        "id": "18c96eb91310eecf",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "b2949bf0.54497",
        "type": "ui_group",
        "name": "Real-Time Humidity Data",
        "tab": "9f1f8757.648e1",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2a6d74df.c32a4c",
        "type": "ui_group",
        "name": "Real-Time Temperature Data",
        "tab": "9f1f8757.648e1",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1ef33f0c.f64569",
        "type": "ui_group",
        "name": "Real-Time Heat Index Data",
        "tab": "9f1f8757.648e1",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7d2a87a5f77e5173",
        "type": "sqlitedb",
        "db": "dht22.db",
        "mode": "RWC"
    },
    {
        "id": "d0ab49f1d41f6fc3",
        "type": "ui_group",
        "name": "Hourly Averages (UI - no chart)",
        "tab": "9f1f8757.648e1",
        "order": 4,
        "disp": true,
        "width": "12"
    },
    {
        "id": "9f1f8757.648e1",
        "type": "ui_tab",
        "name": "DHT 22 Sensor",
        "icon": "dashboard",
        "order": 1
    }
]
